@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* main */
  h2 {
    font-size: 60px;
  }

  button {
    color: #37474F;
    font-size: 20px;
    background-color: #E5E5E5;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  /* Title */

  .header {
    color: #5b85b7;
  }

  .letter {
    font-size: 20px;
    background: #D2D2D2;
  }

  .space {
    width: 15px;
  }

  /* .show {
    color: #000;
    background-color: #76CE82;
  } */


  .show {
    background: #445069;
    font-size: 20px;
  }

  .btn__reset {
    width: 125px;
    font-size: 20px;
  }

  .start {
    background-color: #5b85b7;
  }

  .start a {
    color: #78CF82;
  }

  .win {
    background-color: #78CF82;
  }

  .win a {
    color: #78CF82;
  }

  .lose {
    background-color:#D94545;
  }

  .lose a {
    color: #D94545;
  }
}
